body {

    background-image : url(ing/photo-1674420628423-bf7a338af32d.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-attachment :fixed;
}





